{"openapi":"3.0.1","info":{"title":"MONXA API","version":"1.0.0"},"servers":[{"url":"http://api.monxa.dev/"},"paths":{"/v1/balances":{"get":{"tags":["balances"],"description":"Retrieve a list of all balances for the authenticated merchant.","responses":{"200":{"description":"OK"}}}},"/v1/balances/{currency}":{"get":{"tags":["balances"],"description":"Retrieve the balance information for a specified currency.","parameters":[{"name":"currency","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/customers":{"post":{"tags":["customers"],"description":"Create a new customer. An idempotent key is required in the request header.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomer"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"get":{"tags":["customers"],"description":"List all customer with pagination support.","parameters":[{"name":"SearchText","in":"query","schema":{"type":"string"}},{"name":"OrderBy","in":"query","schema":{"type":"string"}},{"name":"IsDescending","in":"query","schema":{"type":"boolean"}},{"name":"PageNumber","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"delete":{"tags":["customers"],"description":"Delete a customer by its unique identifier.","parameters":[{"name":"Id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"put":{"tags":["customers"],"description":"Update a customer by its unique identifier.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/customers/{id}":{"get":{"tags":["customers"],"description":"Retrieve a customer by its unique identifier.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/merchants/me":{"get":{"tags":["merchants"],"description":"Retrieve the merchant info.","responses":{"200":{"description":"OK"}}}},"/v1/merchants/me/channels":{"get":{"tags":["merchants"],"description":"Retrieve all available currencies.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChannelDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/merchants/me/apis":{"post":{"tags":["merchants"],"description":"Create merchant API credentials.","responses":{"200":{"description":"OK"}}}},"/v1/merchants/me/apis/reset-secrets":{"post":{"tags":["merchants"],"description":"Create merchant API credentials.","responses":{"200":{"description":"OK"}}}},"/v1/merchants/me/web-hook":{"post":{"tags":["merchants"],"description":"Update the WebHook settings for a specific merchant by its unique identifier.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWebHookWithoutIdRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/charges":{"get":{"tags":["charges"],"description":"List all charges with pagination support.","parameters":[{"name":"Currency","in":"query","schema":{"type":"string"}},{"name":"DateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"DateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"Id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"PaymentMethod","in":"query","schema":{"type":"string"}},{"name":"Status","in":"query","schema":{"type":"string"}},{"name":"SearchText","in":"query","schema":{"type":"string"}},{"name":"OrderBy","in":"query","schema":{"type":"string"}},{"name":"IsDescending","in":"query","schema":{"type":"boolean"}},{"name":"PageNumber","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MonxaChargeDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"post":{"tags":["charges"],"description":"Create a new charge. An idempotent key is required in the request header.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMonxaChargeWithoutMerchant"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/charges/{id}":{"get":{"tags":["charges"],"description":"Retrieve a charge by its unique identifier.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonxaChargeDetailsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/charges/{id}/description":{"patch":{"tags":["charges"],"description":"Update only the description of a charge.","parameters":[{"name":"id","in":"path","description":"The id parameter","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMonxaChargeDescription"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonxaChargeDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/charges/{id}/metadata":{"patch":{"tags":["charges"],"description":"Merge metadata entries for a charge. Empty values remove keys.","parameters":[{"name":"id","in":"path","description":"The id parameter","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMonxaChargeMetadata"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonxaChargeDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/payouts":{"post":{"tags":["payouts"],"description":"Create a new payout. An idempotent key is required in the request header.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePayoutRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"get":{"tags":["payouts"],"description":"List all payouts with pagination support.","parameters":[{"name":"SearchText","in":"query","schema":{"type":"string"}},{"name":"OrderBy","in":"query","schema":{"type":"string"}},{"name":"IsDescending","in":"query","schema":{"type":"boolean"}},{"name":"PageNumber","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PayoutDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/payouts/{id}":{"get":{"tags":["payouts"],"description":"Retrieve a payout by Id.","parameters":[{"name":"id","in":"path","description":"The Payout ID.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/transactions":{"get":{"tags":["transactions"],"description":"List Transactions","parameters":[{"name":"Currency","in":"query","schema":{"type":"string"}},{"name":"DateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"DateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"Id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"PaymentMethod","in":"query","schema":{"type":"string"}},{"name":"Status","in":"query","schema":{"type":"string"}},{"name":"TransactionType","in":"query","schema":{"type":"string"}},{"name":"SearchText","in":"query","schema":{"type":"string"}},{"name":"OrderBy","in":"query","schema":{"type":"string"}},{"name":"IsDescending","in":"query","schema":{"type":"boolean"}},{"name":"PageNumber","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v1/transactions/count-by-status":{"get":{"tags":["transactions"],"description":"Count Transactions by Status","parameters":[{"name":"Currency","in":"query","schema":{"type":"string"}},{"name":"DateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"DateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"Id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"IsDescending","in":"query","schema":{"type":"boolean"}},{"name":"OrderBy","in":"query","schema":{"type":"string"}},{"name":"PaymentMethod","in":"query","schema":{"type":"string"}},{"name":"SearchText","in":"query","schema":{"type":"string"}},{"name":"Status","in":"query","schema":{"type":"string"}},{"name":"TransactionType","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountTransactionByStatusDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict"},"429":{"description":"Too Many Requests"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}}},"components":{"schemas":{"ActionFlows":{},"AddressDto":{"required":["country","line1"],"type":"object","properties":{"country":{"type":"string"},"line1":{"type":"string"},"city":{"type":"string","nullable":true},"line2":{"type":"string","nullable":true},"postal_code":{"type":"string","nullable":true},"state":{"type":"string","nullable":true}}},"AddressDto2":{"required":["country","line1"],"type":"object","properties":{"country":{"type":"string"},"line1":{"type":"string"},"city":{"type":"string","nullable":true},"line2":{"type":"string","nullable":true},"postal_code":{"type":"string","nullable":true},"state":{"type":"string","nullable":true}},"nullable":true},"ChannelCodes":{},"ChannelDto":{"required":["country","currency","name","settlement","last_modified_by"],"type":"object","properties":{"country":{"type":"string"},"currency":{"type":"string"},"name":{"type":"string"},"code":{"$ref":"#/components/schemas/ChannelCodes"},"max_amount":{"type":"number","format":"double","nullable":true},"min_amount":{"type":"number","format":"double"},"settlement":{"type":"string"},"last_modified_by":{"type":"string"},"last_modified_on":{"type":"string","format":"date-time"}}},"ChargeSettleStatus":{},"ChargeStatus":{},"CountTransactionByStatusDto":{"type":"object","properties":{"status":{"type":"string","nullable":true},"total":{"type":"integer","format":"int32","nullable":true}}},"CreateCustomer":{"required":["address"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressDto"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"nullable":true},"shipping":{"$ref":"#/components/schemas/ShippingDto"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"tax":{"$ref":"#/components/schemas/TaxDto"}}},"CreateMonxaChargeWithoutMerchant":{"required":["action_flow"],"type":"object","properties":{"action_flow":{"$ref":"#/components/schemas/ActionFlows"},"amount":{"type":"number","description":"The amount of the charge.","format":"double"},"channel_code":{"$ref":"#/components/schemas/ChannelCodes"},"currency":{"type":"string","description":"The three-letter ISO currency code, in lowercase."},"description":{"type":"string","description":"Optional. A brief description of the payment.","nullable":true},"metadata":{"type":"object","additionalProperties":{"type":"string"},"nullable":true},"reference_id":{"type":"string","description":"Optional. The merchant payment identity for tracking and consolidation purpose.","nullable":true}}},"CreatePayoutRequest":{"required":["amount","bank_account_name","bank_account_number","bank_name","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount","format":"double"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Metadata","nullable":true},"bank_account_name":{"type":"string","description":"Bank Account Name"},"bank_account_number":{"type":"string","description":"Bank Account Number"},"bank_name":{"type":"string","description":"Bank Name"},"currency":{"type":"string","description":"Currency"},"description":{"type":"string","description":"Description","nullable":true},"reference_id":{"type":"string","description":"Reference Id","nullable":true}}},"CustomerDto":{"required":["address","name","id","created_on"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressDto"},"shipping":{"$ref":"#/components/schemas/ShippingDto"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"tax":{"$ref":"#/components/schemas/TaxDto"},"id":{"type":"string","format":"uuid"},"created_on":{"type":"string","format":"date-time"},"updated_on":{"type":"string","format":"date-time","nullable":true}}},"FeeTypes":{},"MonxaChargeDetailsDto":{"required":["fee","code","currency","settlement_cycle","owned_by","last_modified_by","created_by"],"type":"object","properties":{"fee":{"$ref":"#/components/schemas/MxFee"},"meta_data":{"type":"object","additionalProperties":{"type":"string"}},"action_flow":{"$ref":"#/components/schemas/ActionFlows"},"amount":{"type":"number","format":"double"},"cancelled_on":{"type":"string","format":"date-time","nullable":true},"channel_code":{"$ref":"#/components/schemas/ChannelCodes"},"charge_statement_id":{"type":"string","format":"uuid","nullable":true},"code":{"type":"string"},"currency":{"type":"string"},"description":{"type":"string","nullable":true},"expired_on":{"type":"string","format":"date-time","nullable":true},"failed_on":{"type":"string","format":"date-time","nullable":true},"fee_amount":{"type":"number","format":"double","nullable":true},"merchant_id":{"type":"string","format":"uuid"},"net_amount":{"type":"number","format":"double","nullable":true},"paid_on":{"type":"string","format":"date-time","nullable":true},"processor":{"$ref":"#/components/schemas/ProcessorTypes"},"reference_id":{"type":"string","nullable":true},"settlement_cycle":{"type":"string"},"settlement_date":{"type":"string","format":"date-time","nullable":true},"settlement_status":{"$ref":"#/components/schemas/ChargeSettleStatus"},"status":{"$ref":"#/components/schemas/ChargeStatus"},"owned_by":{"type":"string"},"last_modified_by":{"type":"string"},"last_modified_on":{"type":"string","format":"date-time"},"created_by":{"type":"string"},"created_on":{"type":"string","format":"date-time"},"updated_by":{"type":"string","nullable":true},"updated_on":{"type":"string","format":"date-time","nullable":true},"id":{"type":"string","format":"uuid"}}},"MonxaChargeDto":{"required":["code","currency","created_by"],"type":"object","properties":{"cancelled_on":{"type":"string","format":"date-time","nullable":true},"expired_on":{"type":"string","format":"date-time","nullable":true},"failed_on":{"type":"string","format":"date-time","nullable":true},"fee_amount":{"type":"number","format":"double","nullable":true},"net_amount":{"type":"number","format":"double","nullable":true},"paid_on":{"type":"string","format":"date-time","nullable":true},"received_on":{"type":"string","format":"date-time","nullable":true},"settlement_date":{"type":"string","format":"date-time","nullable":true},"settlement_status":{"$ref":"#/components/schemas/NullableOfChargeSettleStatus"},"meta_data":{"type":"object","additionalProperties":{"type":"string"}},"action_flow":{"$ref":"#/components/schemas/ActionFlows"},"amount":{"type":"number","format":"double"},"channel_code":{"$ref":"#/components/schemas/ChannelCodes"},"code":{"type":"string"},"currency":{"type":"string"},"description":{"type":"string","nullable":true},"merchant_id":{"type":"string","format":"uuid"},"reference_id":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/ChargeStatus"},"created_by":{"type":"string"},"created_on":{"type":"string","format":"date-time"},"updated_by":{"type":"string","nullable":true},"updated_on":{"type":"string","format":"date-time","nullable":true},"id":{"type":"string","format":"uuid"}}},"MxFee":{"required":["type","value"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/FeeTypes"},"value":{"type":"number","format":"float"}}},"MxFee2":{"required":["type","value"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/FeeTypes"},"value":{"type":"number","format":"float"}},"nullable":true},"NullableOfChargeSettleStatus":{"nullable":true},"PayoutDto":{"required":["fee","bank_account_name","bank_account_number","bank_name","currency","merchant_id","id","created_on"],"type":"object","properties":{"amount":{"type":"number","format":"double"},"fee_amount":{"type":"number","format":"double"},"net_amount":{"type":"number","format":"double"},"fee":{"$ref":"#/components/schemas/MxFee"},"payout_status":{"$ref":"#/components/schemas/PayoutStatus"},"bank_account_name":{"type":"string"},"bank_account_number":{"type":"string"},"bank_name":{"type":"string"},"currency":{"type":"string"},"merchant_id":{"type":"string"},"description":{"type":"string","nullable":true},"id":{"type":"string","format":"uuid"},"created_on":{"type":"string","format":"date-time"},"updated_on":{"type":"string","format":"date-time","nullable":true}}},"PayoutStatus":{},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}}},"ProcessorTypes":{},"ShippingDto":{"required":["phone","receiver_name"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressDto2"},"phone":{"type":"string"},"receiver_name":{"type":"string"}},"nullable":true},"TaxDto":{"required":["id_type","id_value"],"type":"object","properties":{"id_type":{"type":"string"},"id_value":{"type":"string"}},"nullable":true},"TransactionDto":{"required":["amount","merchant_id","currency","status","id","created_on"],"type":"object","properties":{"amount":{"type":"number","format":"double"},"amount_received":{"type":"number","format":"double","nullable":true},"fee_amount":{"type":"number","format":"double","nullable":true},"total_amount":{"type":"number","format":"double","nullable":true},"merchant_id":{"type":"string","format":"uuid"},"fee":{"$ref":"#/components/schemas/MxFee2"},"currency":{"type":"string"},"status":{"type":"string"},"description":{"type":"string","nullable":true},"destination":{"type":"string","nullable":true},"settlement_status":{"type":"string","nullable":true},"transaction_type":{"$ref":"#/components/schemas/TransactionType"},"id":{"type":"string","format":"uuid"},"created_on":{"type":"string","format":"date-time"},"updated_on":{"type":"string","format":"date-time","nullable":true}}},"TransactionType":{},"UpdateCustomer":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressDto2"},"id":{"type":"string","format":"uuid"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"nullable":true},"shipping":{"$ref":"#/components/schemas/ShippingDto"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"tax":{"$ref":"#/components/schemas/TaxDto"}}},"UpdateMonxaChargeDescription":{"required":["description","id"],"type":"object","properties":{"description":{"type":"string"},"id":{"type":"string","format":"uuid"}}},"UpdateMonxaChargeMetadata":{"required":["id","metadata"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"metadata":{"type":"object","additionalProperties":{"type":"string"}}}},"UpdateWebHookWithoutIdRequest":{"required":["web_hook_uri"],"type":"object","properties":{"events":{"type":"array","items":{"type":"string"}},"signature_key":{"type":"string","description":"The kwy will be added into Request Header `X-Signature` with base64 encryption when sending to the WebHook URI.","nullable":true},"web_hook_uri":{"type":"string","description":"The WebHook URI to receive event notifications.","format":"uri"}}}}},"tags":[{"name":"balances"},{"name":"customers"},{"name":"merchants"},{"name":"charges"},{"name":"payouts"},{"name":"transactions"}]}